<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'dex_app/css/master-styling.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script></script>
    <script>
    </script>
</head>
<body>
    <div id='navbar'>
        <a href='/pokedex/generation-i'>
            <img src="{% static 'dex_app/imgs/pokeball.png' %}" alt='View Pokedex'>
        </a><a href='/pokedex/moves/generation-i'>
            <img src="{% static 'dex_app/imgs/discs.png' %}" alt='View Moves'>
        </a><a href='/pokedex/types'>
            <img src="{% static 'dex_app/imgs/type.png' %}" alt='View Types'>
        </a><a href='/pokedex/teams'>
            <img src="{% static 'dex_app/imgs/vs.png' %}" alt='Team Builder'>
        </a>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='text-center'>
                <h2 id='table'>{{type.tipe}}</h2>
            </div>
            <div class='table' id='typedamtable'>
                <table class='table'>
                    <h3>Damage Done by {{type.tipe}}</h3>
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{type.tipe}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for typ in all_types %}
                        <tr>
                            <td>{{typ.tipe}}</td>
                            {% if typ in damage_rels.double_to.all %}
                            <td>x2</td>
                            {% elif typ in damage_rels.half_to.all %}
                            <td>x0.5</td>
                            {% elif typ in damage_rels.none_to.all %}
                            <td>x0</td>
                            {% else %}
                            <td>x1</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='table' id='typedamtable'>
                <table class='table'>
                    <h3>Damage Taken by {{type.tipe}}</h3>
                    <thead>
                        <tr>
                            <th></th>
                            {% for typ in all_types %}
                            <th>{{typ.tipe}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{type.tipe}}</td>
                            {% for typ in all_types %}
                            {% if typ in damage_rels.double_from.all %}
                            <td>x2</td>
                            {% elif typ in damage_rels.half_from.all %}
                            <td>x0.5</td>
                            {% elif typ in damage_rels.none_from.all %}
                            <td>x0</td>
                            {% else %}
                            <td>x1</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>