* {
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red; */
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('/static/dex_app/imgs/bg.png');
    background-position: 56.2% 35%;
}

#boxee {
    width: 100vw;
    height: 88vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
    #boxee>img {
        margin-top: 25%;
        width: 90%;
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

#navbar {
    max-width: 100vw;
    max-height: 11vh;
    position: absolute;
    bottom: 0px;
    background: repeating-linear-gradient( 
        -45deg,
        #2c2b2b,
        #2c2b2b 2px,
        #1d1b1b 3px,
        #1d1b1b 5px );
    border-top: 4px solid #0a8bcc;
    border-bottom: 4px solid #0a8bcc;
    text-align: center;
    padding: 3% 1% 3% 1%;
}
    #navbar>a {
        margin: 2% 7% 2% 7%;
    }

    #navbar>a:nth-child(1) {
        margin-left: 0%;
    }
    #navbar img {
        width: 12%;
        height: auto;
    }

#logreg {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#mon_name {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

#table{
    opacity: 0.87;
    background-color: ghostwhite;
    height: 100%;
    overflow: auto;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
}

#genbuts {
    height: 4vh;
}

#boxthis{
    opacity: .90;
    background-color: whitesmoke;
    border: 6px solid #0a8bcc;
    box-shadow: 3px 5px 3px grey;
    border-radius: 50px;
    padding: 15px 48px;
    overflow: auto;
    height: 25vh;
    margin-bottom: 9vh;
}

#abillist {
    width: 100vw;
    max-height:15vh;
    overflow: auto;
}

#allmoves {
    width: 100vw;
    height: 77vh;
    overflow: auto;
    border-bottom: none;
}

#moveslist{
    width: 100vw;
    height:46vh;
    overflow: auto;
}

#sb_form {
    height: 6vh;
    padding: 0;
}

#search_bar {
    height: 5vh;
}

#gen_1,
#gen_2,
#gen_3,
#gen_4,
#gen_5,
#gen_6,
#gen_7 {
    padding: 0;
}
td { 
    padding: 0px;
}
.gen_but {
    width: 100%;
    height: 100%;
    font-size: 9pt;
}

.type_col {
    width: 15vw;
}

.type_but {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    color: white;
    font-size: 10pt;
    text-shadow: 1px 1px black;
}

.Normal {
    background-color: #a8a878;
    border: 1px solid #6d6d4e;
}

.Fire {
    background-color: #f08030;
    border: 1px solid #9c531f;
}

.Fighting {
    background-color: #c03028;
    border: 1px solid #7d1f1a;
} 

.Water {
    background-color: #6890f0;
    border: 1px solid #445e9c;
}

.Flying {
    background-color: #a890f0;
    border: 1px solid #6d5e9c;
}

.Grass {
    background-color: #78c850;
    border: 1px solid #4e8234;
}

.Poison {
    background-color: #a040a0;
    border: 1px solid #682a68;
}

.Electric {
    background-color: #f8d030;
    border: 1px solid #a1871f;
}

.Ground {
    background-color: #e0c068;
    border: 1px solid #927d44;
}

.Psychic {
    background-color: #f85888;
    border: 1px solid #a13959;
}

.Rock {
    background-color: #b8a038;
    border: 1px solid #786824;
}

.Ice {
    background-color: #98d8d8;
    border: 1px solid #638d8d;
}

.Bug {
    background-color: #a8b820;
    border: 1px solid #6d7815;
}

.Dragon {
    background-color: #7038f8;
    border: 1px solid #4924a1;
}

.Ghost {
    background-color: #705898;
    border: 1px solid #493963;
}

.Dark {
    background-color: #705848;
    border: 1px solid #49392f;
}

.Steel {
    background-color: #b8b8d0;
    border: 1px solid #787887;
}

.Fairy {
    background-color: #ee99ac;
    border: 1px solid #9b6470;
}

#dex_body {
    max-height: 76vh;
    overflow: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    height: 4vh;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    text-align: left;
    border-top: 1px solid black;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.nomargin {
    margin:0px
}
.accordion:after {
    content: '\2630'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25BE"; /* Unicode character for "minus" sign (-) */
}

.panel table {
    width: 100%;
}

#learntab{
    width: 100vw;
    max-height:57vh;
    overflow: auto;
    opacity: 0.87;
    background-color: ghostwhite;
    overflow: auto;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
}

#accord {
    max-height: 47vh;
    overflow: auto;
}

.typings_list {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.typings {
    display: inline-block;
}

#typedamtable {
    max-width: 98vw;
    max-height: 50vh;
    opacity: 0.87;
    background-color: ghostwhite;
    height: 100%;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
    overflow: auto;
}